<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue.js in a Single file</title>

    </head>
    <style>
        button {
            margin: 10px;
        }
    </style>

    <body>
        <div id="app">
            <h1>
                {{ setup }}
            </h1>
            <h2>
                {{ punchline }}
            </h2>
            <div>
                <!-- @click là một event handler của framework Vue.js  
                     đọc slide để biết thêm về các loại event handler
                     trong ví dụ dưới đây button sẽ hiển thị joke mới khi nhấn vào click me, 
                     event handler sẽ thay đổi giá trị của các biến có tên tương ứng trong vue object được mount vào DOM này
                -->
                <button
                    @click="setup = 'What is the best thing about Switzerland?'; punchline = 'I don\'t know, but the flag is a big plus!'">
                    Click Me!
                </button>
                <!-- Ta có thể gán trực tiếp đoạn code java script như  event handler trên hoặc ta cũng có thể gán vào đó một hàm (methods) hoặc thậm chí là một component con-->
                <button @click="newJoke">
                    Click Me! to get a new joke
                </button>
            </div>
            <div>
                <h1>Tell us your Joke</h1>
                <!-- Trong các thuộc tính của element Input phía dưới có  thuộc tính v-model đây chính là thuộc tính của vue )
                     v-model dùng để đồng bộ hoá giá trị của biến có tên tương ứng trong vue object với giá trị của dom element (trong trường hợp này là input)
                -->
                <label for="setupInput">Set up</label>
                <input id="setupInput" type="text" v-model="setup">
                <label for="punchlineInput">Punchline</label>
                <!-- event handler cho việc thay đổi dữ liệu -->

                <input id="punchlineInput" @change="logChange" type="text" v-model="punchlineChange">
            </div>
        </div>
        <!-- trong ví dụ này ta khai báo framework vue.js bằng cdn (link đến server chứa các đoạn mã javascript) -->
        <script src="https://unpkg.com/vue@3"></script>

        <script>

            /*
                    Ta tạo một instance của class  application do vue định nghĩa
                    createApp chính là câu lệnh khởi tạo mặc định cho các ứng dụng Vue.js
                */
            Vue.createApp({
                // data là một no name function return về các biến của instance ma ta muốn thao tác sau này
                data: function () {
                    return {
                        setup: 'why javascript programmer wear class',
                        punchline: 'because they are not c#',
                        punchlineChange: "",

                    }
                },
                // methods là object chứa các hàm tự định nghĩa cho vue Object này
                methods: {
                    newJoke() {
                        this.setup = 'I only know 25 letters of the alphabet.';
                        this.punchline = 'I don\'t know y';
                    },
                    logChange() {
                        this.punchline = "new punchline: " + this.punchlineChange;
                        console.log(this.punchlineChange);
                    }
                }
            })/*
                để aplication có thể thao tác với các DOM thì ta phải gọi hàm app.mount()
                trong ví dụ này ta mount instance app vào node có id app
            */
                .mount('#app')

        </script>
    </body>

</html>